doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container
      block main
    script(src="/js/main.min.js")
    if token
        script localStorage.token = '#{token}'
    if dev
      script(src='//localhost:10000/livereload.js')
