extends extends/template

block main
  header
    nav.nav
      p.nav__title NotePad

      ul.nav__list
        li.list__item: a(href='/notes?token=' + token class='item__link') Notes
        li.list__item: a(href='/notes/create?token=' + token class='item__link') Create A Note
        li.list__item: a(class='btn--logout item__link') Logout

  main
    form.form--deleteNote
      h1 Confirm Do you want to delete this note

      .note
        h1= note.name
        p.note__text--show-whitespace= note.text

      button(type='submit' class="btn btn--blue") Delete Note
      button(class="btn btn--red margin--left"): a(href='/notes?token=' + token) Go Back

  include extends/footer