extends extends/template

block main
  header
    nav.nav
      p NotePad

      ul(class="nav__list") 
        li(class="list__item"): a(href='/notes?token=' + token): a(class="item__link") Notes
        li(class="list__item"): a(class='btn--logout item__link') Logout
  
  main
    .error-message
    
    form.form--updateNote
      h1 Update You're Note!
      
      .form__group
        label.group__label(for='title') Title: 
        input.group__input(id='title' type='text' placeholder='Your title' name='name' value=note.name)
      
      .form__group
        label.group__label(for='note') Note:
        textarea(id='note' placeholder='Your note' name='text' rows="4" cols="50") #{note.text}
      
      button(type="submit" class="btn btn--blue") Update Note

  include extends/footer